// Navigation Styles here

header {
    display: flex;
    width: 100%;
    justify-content: space-around;
    border-bottom: 2px dashed gray;

    .logo{
        font-family: 'Lacquer', sans-serif;
        display: flex;
        width: 20%;
        margin-left: 5%;
        padding: 15px;
        font-size: 30px;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
    }

    nav {
        width: 40%;
        padding: 30px;
        margin: 15px;
        flex-direction: row;
        flex-wrap: nowrap;
        display: flex;
        justify-content: space-evenly;
        
        
            a {
                font-weight: bold;
                font-size: 15px;
                text-decoration: none;
                color: black;
                font-weight: bolder;
            }
    }
}