// Navigation Styles here

header {
    border: 5px solid red;
    background-color: yellow;
    padding: 35px;
    display: flex;
}

.header-title {
    // FONT FAMILY NOT WORKING COME BACK LATER
    font-family: font-family: 'Lacquer', sans-serif;
    border: 5px solid purple;
    background-color: pink;
    width: 20%;
    padding: 15px;
    font-size: 30px;
    flex-direction: row nowrap;
    justify-content: flex-start;
}